@import url('../../styles/global.css');

@import url('../../styles/global.css');

.title{
    font-size:x-large;
    text-align: center;
}

.inf1 {
    display: flex;
    border: 1px solid black;
}

.inf1 img {
    width: 20%;
    padding: 30px;
    border: 0 10px 0 black;
}

.inf2{
    display: flex;
    border: 1px solid black;
}

.inf2  img {
    width: 20%;
    padding: 20px;
}

.inf3 {
    border: 1px solid black;

}
.inf3 p{
    text-align: center;

}
.inf3 img {
    justify-content: center;
    align-items: center ;
}
