@import url('../../styles/global.css');

.title{
    font-size:x-large;
    text-align: center;
}

.inf1 {
    
    border: 1px solid black;
}

.inf1 img {
    width: 20%;
    padding: 30px;
}

.inf2{
    border: 1px solid black;
}

.inf2  img {
    width: 20%;
    padding: 20px;
}

.inf3 {
    border: 1px solid black;

}



.inf3 img {
    margin: auto;
    width: 30%;
}