header {
    background: #ff0000;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: linear-gradient (#ff0000 ,forestgreen);
    
}

header h1{
    align-items: center;
    color: rgb(42, 100, 4);
}

nav ul{
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all ease 0.5s;
}

nav ul li{
   text-decoration: none;
    margin: 0 20px 0;
    font-size: large;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--corprm) ;
}

--root {
    --corprm: #9696bf;
    --box-shandow:#3b3b94;
    --corhovernav:  rgb(145, 75, 219);
}


nav a:hover{
   color: rgb(60, 167, 92);
}

footer {
   text-align: center;
   margin-top:40px;
   width: 100%;
   background-color: #ff0000;
   
}
