import url('../../styles/global.css');
 
.banner {
    justify-items: center;
    justify-content: space-around;
    margin-bottom:25px;
}

.banner img {
    margin-top: 25px;
    width: 15%;
    justify-content: center;
}

.imagens{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-left: 50px;
}

.imagens img{
    width: 100%; /* Faz as imagens ocuparem o espaço da célula */
    border-radius: 15px; /* Bordas arredondadas */
    object-fit: cover;
    width: 275px;
    height: 225px;

}

.titulo {
    margin-top: 40px;
    font-weight: bold;
    color: #6200EA; /* Cor roxa vibrante */
    margin-bottom: 45px;
    background: linear-gradient(90deg, #0a9611, rgb(202, 5, 5), rgb(240, 240, 3));
    -webkit-background-clip: text;
    color: transparent;
    font-size: xx-large;
}

button {
    margin-left: 100vh;
    background-color: rgb(146, 36, 21);
    padding: 10px; 
    border-radius: 60px ; 
    transition: all ease 0.5s;
    border: rgb(17, 68, 20);
 }

 button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
 }
 
 button:hover{
    background-color: rgb(70, 164, 42) ;
    transition-duration: 500ms;
 }

 
