*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor-body:  rgb(245, 249, 251);
    --cor--menu:  rgb(0, 195, 198);
    --cor-letra1: rgb(22, 179, 218);
    --cor-letra2: #00a1a3;
    --cor-gradient1: #11c7ca;;
    --cor-gradient2:rgb(109, 152, 231);
    --cor--form:  #a4dedf;
    --cor--botao:#339DFF;
}
 
body{
    background-color: var(--cor-body);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.nome_empresa{
  text-align: center;
  margin-bottom: 30px;
  font-size: xx-large;
  color: var(--cor-letra1);
  text-shadow: 3px 3px var(--cor-letra2);
  background-size: 1800% 1800%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--cor-letra1);
  margin: 5px;
}

 nav ul{
    padding: 0;
    display: flex;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all ease 0.5s;
}

nav ul li{
  color: transparent;
  text-decoration: none;
  margin: 0 15px 0;
  font-size: large;
  list-style: none;
}

.menu{
  transition: 0.4s;
  color: var(--cor--menu);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 50%;
  background-color: var(--cor--menu);
  transition: all 0.4s;
}

.menu:hover::before {
  width: 100%;
  left: 0;
}

header{
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow:0 0 15px var(--cor--menu);
  
}

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.logotipo{
  width: 100px;
  position: static;
}

footer{
  background-color: white;
  text-align: center;
  padding: 30px;
  box-shadow:0 0 10px var(--cor--menu);
  color: var(--cor--menu);
  margin-top: 50px;
}

.scrollToTopBtn {
  background-color: #850f11;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 30px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  right: 30px;
	  /* keep it on top of everything else */
  z-index: 100;
	  /* hide with opacity */
  opacity: 0;
	  /* also add a translate effect */
  transform: translateY(100px);
  transition: all .5s ease
}

.botao-topo{
  background-color: var(--cor--botao);
  border-radius: 50px;
  cursor: pointer;
  width: 50px;
  padding:2px;
  border:none;
}

.botao-fixo{
  text-decoration: none;
  text-align: center;
  color: white;
}

.botao-topo:hover {
  background: #fff;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  transition-duration: 0.5s;
}

.botao-topo:hover a {
  color: #0084ff;
}

@media (max-width: 480px){

  header{
      flex-direction: column;
      align-items: center;
      padding: 5px;
  }
  
  header h1{
    text-align: center;
    margin-top: 40px;
}

header nav {
    margin-top: 8px;
    text-align: center;
    padding: 2px;
}

main{
    flex-direction: column;
    align-items: center;
}

}