*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI', sans-serif;
}

:root {
    --cor-body:  rgb(208, 218, 248);
    --cor--menu:  rgb(65, 105, 225);
}
 
body{
    background-color: var(--cor-body);
 }

 nav ul{
    padding: 0;
    display: flex;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all ease 0.5s;
}

nav ul li{
   text-decoration: none;
    margin: 0 20px 0;
    font-size: large;
    list-style: none;
}

.menu {
    color: var(--cor--menu) ;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
  }
  
  .menu::before,
  .menu::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background:   rgb(65, 105, 225); ;
    transition: all 0.5s;
  }
  
  .menu::before {
    top: 0;
    left: 0;
  }
  
  .menu::after {
    bottom: 0;
    right: 0;
  }
  
  .menu:hover::before {
    width: 100%;
    transition: width 0.25s ease-in-out;
  }
  
  .menu:hover::after {
    width: 100%;
    transition: width 0.25s ease-in-out 0.25s;
  }


header{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.logotipo{
    width: 100px;
    position: static;
}